.DarkBlue{
	color: #031325;
}

.LightBlue{
	color: #21B9CA;
}

.DarkBlue2{
	color: #116688;
}

.Wight{
	color : #FFFFFF;
}

.DarkBluebckg{
	background-color: #031325;
}

.LightBluebckg{
	background-color: #21B9CA;
}

.DarkBlue2bckg{
	background-color: #116688;
}